<% if (title) { %>
    <h1>
        <%= title %>
    </h1>

    <% } %>

        <section class="login-register-container">
            <form id="loginForm" class="login-register-form" action="/account/login" method="POST">

                <label for="email">Email:</label>
                <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">

                <label for="password">Password:</label>
                <input type="password" id="password" name="account_password" required>

                <button type="submit">LOGIN</button>

                <p class="signup-text">
                    No account? <a href="/account/register">Sign-up</a>
                </p>
            </form>
        </section>

        <%- messages() %>