<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <%- messages() %>
            <h2>Welcome <%= userName %>
            </h2>
            <a href="/account/update/<%=account_id %>">Edit Account Information</a>
            <% if (type==="Admin" || type==="Employee" ) { %>
                <h3>Inventory Management</h3>
                <p><a href="/inv">Access Inventory Management here</a></p>

                <% } %>